<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>


<% @restaurant.reviews.each do |review| %>
<div class="review">
<%= review.content%>
<%= review.rating%>
</div>
<%end%>


<%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
<%= link_to "Back to list", restaurants_path %>
